<div class="footerContainer">
  <div class="footerContainer__logo">
    <img
      src="../../assets/Logo.svg"
      alt=""
      class="footerContainer__logo__img"
    />
    <span class="footerContainer__logo__name"
      >FINFINDER {{ currentYear }} &copy;</span
    >
  </div>

  <div class="footerContainer__text">
    <div class="footerContainer__text__wrapper">
      <h6>About</h6>
      <span class="footerContainer__text__wrapper__about">About us</span>
      <span class="footerContainer__text__wrapper__about">our services</span>
      <span class="footerContainer__text__wrapper__about">Developer</span>
    </div>

    <div class="footerContainer__text__wrapper">
      <h6>Sign up/in</h6>
      <span class="footerContainer__text__wrapper__about"
        >Create an account</span
      >
      <span class="footerContainer__text__wrapper__about"
        >View my inventory</span
      >
    </div>

    <div class="footerContainer__text__wrapper">
      <h6>Become a contributor</h6>
      <span class="footerContainer__text__wrapper__about">Contribute</span>
      <span class="footerContainer__text__wrapper__about"
        >Terms of service</span
      >
    </div>
  </div>

  <div class="footerContainer__contact">
    <div class="footerContainer__contact__wrapper">
      <h6>Have any suggestions?</h6>
    </div>
    <div class="footerContainer__contact__btnCon">
      <app-button label="Email us" class="primary"></app-button>
    </div>
  </div>
</div>
