<div class="container">

    <div class="container__top">
        <div class="container__top__heading">
            <h3 class="container__top__heading__header">View my Fishtanks</h3>
            <p class="container__top__heading__content">Get an overview of all your Fish tanks and their locations. View all the fish in your tank</p>
        </div>

        <div class="container__top__image">
            <img src="../../../assets/Beta.png" alt="" class="container__top__image__fish">
        </div>
    </div>

    <div class="container__left">
        ds
    </div>

    <div class="container__right">
        ds
    </div>
</div>