<div class="container">

    <div class="container__top">
            <div class="container__top__overlay">
                <h3 class="container__top__overlay__text">View my Fishtanks</h3>
                <p class="container__top__overlay__text">View one of your 100 Tanks with 20 fish in them</p>
                <h5 class="container__top__overlay__button">Go to My Fishtanks &rarr;</h5>
            </div>
    </div>

    <div class="container__left">
        <div class="container__top__overlay">
            <h3 class="container__left__overlay__text">Create new Fishtank</h3>
            <p class="container__left__overlay__text">
                Add more fishtanks to your inventory! 
                <br>

                100 builds to choose from 
                
            </p>
            <h5 class="container__top__overlay__button">Go to My Fishtanks &rarr;</h5>
        </div>
    </div>

    <div class="container__right">
        <div class="container__right__overlay">
           <h3 class="container__right__overlay__text">View my inventory</h3>
           <p class="container__left__overlay__text">
                Total inventory size: <span class="container__left__overlay__text__important">{{inventorySize}}</span>
                <br>
                Fish in current inventory: <span class="container__left__overlay__text__important">{{currentInventory}}</span>
                <br>
                Low Stock on <span class="container__left__overlay__text__important">{{lowStock}}</span> Fish
            </p>
           <h5 class="container__top__overlay__button" routerLink="/dashboard/inventory">Go to My Fishtanks &rarr;</h5>
        </div>
    </div>
</div>