<div class="container">

    <div class="container__top">
            <div class="container__top__overlay">
                <h3 class="container__top__overlay__text">View my Fishtanks</h3>
                <p class="container__top__overlay__text">Get an overview of all your Fish tanks and their locations. View all the fish in your tank , remove fish and add new fish</p>
                <h5 class="container__top__overlay__button">Go to My Fishtanks &rarr;</h5>
            </div>
    </div>

    <div class="container__left">
        <div class="container__top__overlay">
            <h3 class="container__left__overlay__text">Create new Fishtank</h3>
            <p class="container__left__overlay__text">Create the fish tank of your dream! Based on the items that are in your inventory you can build one of our fishtanks that we have hand crafted to be the best in the business!</p>
            <h5 class="container__top__overlay__button">Go to My Fishtanks &rarr;</h5>
        </div>
    </div>

    <div class="container__right">
        <div class="container__right__overlay">
           <h3 class="container__right__overlay__text">View my inventory</h3>
           <p class="container__left__overlay__text">Keep track of all your inventory items and filter through them in order to find what you need and update.</p>
           <h5 class="container__top__overlay__button" routerLink="/dashboard/inventory">Go to My Fishtanks &rarr;</h5>
        </div>
    </div>
</div>