<div class="container">
  <div class="container__modal">
    <div class="container__modal__img">
      <img
        class="container__modal__img__image"
        src="../../../assets/malawi.png"
        alt=""
      />
    </div>
    <app-input
      label="Build Address (Room) "
      placeHolder="eg. Bedroom"
      name="Room"
      type="text"
      [required]="true"
    ></app-input>
    <div class="container__modal__buttons">
      <app-button class="danger" label="Cancel build"></app-button>
      <app-button class="tertiary" label="Let's build!"></app-button>
    </div>
  </div>
</div>
