@import "../../../styles.scss";

.container {
  display: flexbox;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  // background-color: red;
  overflow: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__header,
  &__filters {
    display: flex;
    height: 6vh;
    // background-color: blue;
  }

  &__header {
    padding: 0 20px;
  }

  &__filters {
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;

    &__quick {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    &__search {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }

  &__cards {
    // background-color: blue;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    column-gap: 15px;
    padding: 15px;
    row-gap: 15px;
    justify-content: center;
  }
}




