@import '../../../styles.scss';

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    background: rgb(30, 30, 30);
    background: linear-gradient(0deg, darken($darkGrey, 12%) 34%, $darkestGrey 77%);

    &__left {
        display: flex;
        // background-color: red;
        flex-basis: 30%;
        height: 88vh;
        // align-items: center;

        padding: 25px 20px;
        flex-direction: column;
        gap: 15px;

        &__instruction{
         color: $white;
         @include headingSix();
        }

        &__form{
            margin-top: 6%;
            display: flex;
            width: 80%;
            flex-direction: column;
            flex-basis: 10%;
            gap: 20px;
            // padding:  10px 0 0 20px ;
        }

        &__buttons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            max-width: 65%;
        }
    }

    &__right {
        display: flex;
        flex-basis: 70%;
        height: 88vh;
        justify-content: center;
        align-items: right;
        overflow: hidden;


        &__triangle {
            // position: relative;
            // top: 0;
            // right: 0;
            width: 75vw;
            height: 88vh;
            background-color: $pureBlack;
            clip-path: polygon(100% 0, 0 100%, 100% 100%);

            &__bg {
                object-fit: fill;
                width: 70vw;
            }
        }
    }
}