@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: $darkestGrey;
  height: 100%;
  gap: 30px;
  max-width: 16vw;
  position: relative;
  z-index: 1;

  &__logoContainer {
    width: 100%;
    max-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &__img {
      object-fit: contain;
      max-height: 90%;
      aspect-ratio: 1/1;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
    gap: 30px;
    padding: 15px;

    &__item {
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.8s ease;
      margin-left: 20px;

      &:hover {
        color: $orange;
        font-weight: 600;
        transform: scale(1.1);
      }
    }

    &__itemActive {
      color: $orange;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
}
