<div class="container">
  <div class="container__logoContainer">
    <img
      src="../../../assets/Logo.svg"
      alt="Logo"
      class="container__logoContainer__img"
    />
  </div>
  <div class="container__navigation">
    <p
      class="container__navigation__item"
      routerLinkActive="container__navigation__itemActive"
      routerLink="/dashboard"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dashboard/ overview
    </p>
    <p
      class="container__navigation__item"
      routerLinkActive="container__navigation__itemActive"
      routerLink="/dashboard/inventory"
    >
      My inventory
    </p>
    <p
      class="container__navigation__item"
      routerLinkActive="container__navigation__itemActive"
      routerLink="/dashboard/tanks"
    >
      My FishTanks
    </p>
    <p
      class="container__navigation__item"
      routerLink="/dashboard/builds"
      routerLinkActive="container__navigation__itemActive"
    >
      Create Fishtank
    </p>
  </div>

  <div class="container__button">
    <app-button
      class="tertiary"
      label="Sign out user"
      (clickHandler)="signOut()"
    ></app-button>
  </div>
</div>
