@import '../../../styles.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  gap: 20px;
  background: rgb(30, 30, 30);
  background: linear-gradient(0deg, $darkestGrey 23%, $pureBlack 68%);

  h2 {
    width: 100%;
    text-align: center;
  }


  &__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    padding: 5px 30px;
  }
}