@import '../../../styles.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  gap: 20px;
  background: rgb(30, 30, 30);
  background: linear-gradient(0deg, darken($darkGrey, 12%) 34%, $darkestGrey 77%);

  h2 {
    width: 100%;
    text-align: center;
  }


  &__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    padding: 5px 30px;
  }

  &__serviceInformation {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    padding: 20px 30px;
    gap: 15px;

    &__left {
      display: flex;

      flex-grow: 100%;
      flex-basis: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

    }

    img {
      object-fit: contain;
      max-width: 80%;
      aspect-ratio: 1/0.8;
    }



    &__right {
      display: flex;
      flex-grow: 100%;
      flex-basis: 50%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 15px;

      &__imgCon{
        flex-grow: 100%;
        width: 100%;
        height: 50%;
        background-image: url('../../../assets/shark.png');
        background-size: cover;
        background-position: center;
        background-position-y:  55%;
      }
    }

    p{
      max-width: 60%;
    }


    .malawi{
      object-fit: contain;
      height: 40%;
      rotate: -8deg;

    }
  }


}