<div class="container">
  <app-header></app-header>
  <h2>Our Services</h2>
  <div class="container__services">
    <app-service-card
      *ngFor="let card of serviceContent"
      Image="{{ card.Image }}"
      Title="{{ card.Title }}"
      Content="{{ card.Content }}"
    ></app-service-card>
  </div>
  <div class="container__serviceInformation">
    <div class="container__serviceInformation__left">
      <img
        src="../../../assets/Landing1.png"
        alt="MockupImage"
        class="container__serviceInformation__image"
      />
    </div>

    <div class="container__serviceInformation__right">
      <div class="container__serviceInformation__right__imgCon"></div>
      <h2>Manage your own inventory</h2>
      <p>
        Each new signed up user will get their own inventory to manage! This
        means that all users have access to all FinFinders fish, Decorations and
        utilities. Manage these fish and you will be able to craft one of our
        beautiful and handcrafted fishtanks, handcrafted and selected by our
        fish experts!
      </p>
    </div>
  </div>
  <div class="container__serviceInformation">
    <div class="container__serviceInformation__left">
      <img
        src="../../../assets/malawi.png"
        alt="Swimming fish"
        class="fish malawi"
      />
      <h2>Build your own tank</h2>
      <p>
        FinFinder has a selection of 10 builds that users can build and store in
        a location of choosing, these builds are flexible and allows users to
        add any fish. But be careful! Some fish are incompatible with each other
        and this will break the eco-system that you have built. Take a look at
        our individual view to see which fish are compatible with one another
      </p>
    </div>

    <div class="container__serviceInformation__right">
      <img
        src="../../../assets/landing3.png"
        alt="MockupImage"
        class="container__serviceInformation__image"
      />
    </div>
  </div>
</div>
