<div class="container">
  <div class="container__left">
    <div class="container__left__image">
      <img
        src="{{ decoration['imagePath'] }}"
        class="container__left__image__img"
        alt=""
      />
    </div>
    <div class="container__left__text">
      <h2 class="heading">{{ decoration["name"] }}</h2>
      <h6 class="container__left__text__key">
        <span class="container__left__text__span">Category</span>:
        {{ decoration["categories"] || "Tanks" }}
      </h6>
      <h6 class="container__left__text__key">
        <span class="container__left__text__span"> Space taken </span>
        {{ decoration["space"] || decoration["Litres"] }} L taken
      </h6>
    </div>
  </div>

  <div class="container__right">
    <h2 class="container__right__heading">Found in these builds</h2>

    <div class="container__right__cards">
      <app-found-in-buids-card
        *ngFor="let build of foundInBuilds"
        [name]="build.name"
        [image]="build.MainFish.imagePath"
        [fishTotal]="build.fish.length"
        [utilitiesTotal]="build.utilities.length"
        [decorationsTotal]="build.decorations.length"
      ></app-found-in-buids-card>
    </div>
  </div>
</div>
