@import '../../../styles.scss';

*{
    display: flex;
    
}

label{
    @include body();
}

input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    width: 80%;
    padding: 10px 0;
    @include body();
}

input.ng-invalid.ng-touched{
    border-bottom: 2px solid $danger;
}

::placeholder{
    color: white; 
    opacity: 0.7;
 }
