<div class="card">
    <div class="card__image__amount">
        <p >12</p>
    </div>
    <div class="card__image">
        <img src="../../../assets/Beta.png" class="card__image__img" alt="">
    </div>
    <div class="card__body">
        <h5><strong>Beta Fish</strong></h5>
        <div class="card__body__qty">
            <p>Qty</p>
            <p class="card__body__qty__decrement">-</p>
            <p class="card__body__qty__ammount">15</p>
            <p class="card__body__qty__increment">+</p>
        </div>
        <app-button class="secondary width" label="update item"></app-button>
    </div>
</div>