<div class="container">
    <div class="container__image">
        <img src="../../../assets/tank.png"class="container__image__img" alt="">
    </div>

    <div class="container__center">
            <div class="container__center__heading">
                <h4 class="container__center__heading__text">Requirements for this build</h4>
            </div>
            <div class="container__center__section">
                <h5>Fish</h5>

                <ul class="container__center__section__list">
                    <li class="container__center__section__list">2x Fish <span class="container__center__section__list__item">&#10003;</span></li>
                    <li class="container__center__section__list">2x Fish <span class="container__center__section__list__item">&#10060;</span></li>
                </ul>

            </div>
            <div class="container__center__section">
                <h5>utilities</h5>
                <ul class="container__center__section__list">
                    <li class="container__center__section__list"> 2 x Fish <span class="container__center__section__list__item">&#10003;</span></li>
                    <li class="container__center__section__list"> 2 x Fish <span class="container__center__section__list__item">&#10060;</span></li>
                </ul>
            </div>
            <div class="container__center__section">
                <h5>Decorations</h5>
                <ul class="container__center__section__list">
                    <li class="container__center__section__list"> 2 x Fish <span class="container__center__section__list__item">&#10003;</span></li>
                    <li class="container__center__section__list"> 2 x Fish <span class="container__center__section__list__item">&#10060;</span></li>
                </ul>
            </div>   
    </div>

    <div class="container__right">
        <div class="container__right__button">
            <app-button class="secondary" label="Build this tank!"></app-button>
        </div>

        <div class="container__right__text">
            <p>You have 0 of these builds</p>
        </div>

    </div>
</div>