<div class="container">
  <div class="container__header">
    <h2>View all {{userName}} FishTanks!</h2>
  </div>

  <div class="container__filters">

    <div class="container__filters__search">
      <app-search-input
        name="search"
        placeHolder="my fishtanks by name"
        [controlName]="searchQuery"
      ></app-search-input>
      <app-button
        class="filter"
        [label]="'Search item'"
        (clickHandler)="searchInventory()"
      ></app-button>
    </div>
  </div>

  <div class="container__cards">
    <app-my-fish-tank-card
      *ngFor="let tank of userBuilds | filterpipe: searchQuery.value: 'name' || 'buildName'   "
      [name]="tank.name"
      [image]="tank.MainFish.imagePath"
      [fish]="tank.fish"
      [remainingSpace]="tank.remainingSpace"
      [totalLiters]="tank.tank.Litres"
      [id]="tank._id"
      [address]="tank.buildName"

    ></app-my-fish-tank-card>
  </div>
</div>
