@import "../../../styles.scss";

.loadingContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: red;
  
  
    &::-webkit-scrollbar {
      display: none;
    }
    .loader {
      width: 48px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      border: 2px solid $blue;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
    .loader::after {
      content: '';  
      box-sizing: border-box;
      position: absolute;
      left: 4px;
      top: 4px;
      border: 2px solid $white;
      width: 12px;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
        
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    } 
  
  
  }