@import "../../../styles.scss";

.card {
  padding: 18px;
  // @include boxShadow();
  background-color: $darkestGrey;
  display: flex;
  flex-direction: column;
  aspect-ratio: 9/12;
  transition: 0.3s linear;
  justify-content: space-between;
  // justify-content: space-between;

  &:hover {
    @include shadowTwo();
    background-color: darken($darkGrey, 10%);
  }

  &__top {
    width: 100%;
    display: flex;
    height: 15%;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    padding: 5px;

    &__amount {
      border: 1px solid $orange;
      padding: 5px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 55px;
      aspect-ratio: 1/1 !important;
    }

    &__update {
      color: $white;
      cursor: pointer;
      @include body();

      &:hover {
        color: $blue;
      }
    }
  }

  &__image {
    width: 100%;
    height: 50%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    &__img {
      width: 80%;
      height: 100%;
      object-fit: contain;
    }

    &__h5{
      color: $blue;
    }
  }

  &__body{
    &__edit{
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__amount{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        &__button {
          display: flex;
          width: fit-content;
          height: fit-content;
          min-height: 40px;
          min-width: 40px;
          align-items: center;
          justify-content: center;
          &__arrow {
            color: white;
            font-size: 40px;
            transition: 0.3s linear;
            cursor: pointer;
            &:hover {
              color: $orange;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

  
  // &__image {
  //   display: flex;
  //   max-width: 90%;
  //   height: 55%;
  //   justify-content: center;
  //   align-items: center;
  //   // background-color: orange;

  //   &__img {
  //     height: 90%;
  //     width: inherit;
  //     max-width: 250px;
  //     // background-color: red;
  //     aspect-ratio: 12/9;
  //     object-fit: contain;
  //     object-position: center;
  //   }

  //   &__amount {
  //     border: 2px solid $blue;
  //     padding: 10px;
  //     border-radius: 55px;
  //     max-width: 15px;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     aspect-ratio: 1/1;
  //   }
  // }

  // &__body {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 15px;
  //   justify-content: space-between;

  
  // }
}
