<div class="container"  *ngIf="!isLoading">
  <div class="container__left">
    <div class="container__left__image">
      <img
        src="../../../assets/tank.png"
        class="container__left__image__img"
        alt=""
      />
    </div>
    <div class="container__left__text">
      <h2 class="heading">{{ buildData.name }}</h2>
      <h6 class="container__left__text__key">
        <span class="container__left__text__span">Size (L)</span>: &nbsp;
        {{ buildData.tank["Litres"] }}
      </h6>
      <h6 class="container__left__text__key">
        <span class="container__left__text__span">Height (cm)</span>: &nbsp;
        {{ buildData.tank["Height"] }}
      </h6>
      <h6 class="container__left__text__key">
        <span class="container__left__text__span">Width (cm)</span>: &nbsp;
        {{ buildData.tank["Width"] }}
      </h6>
      <h6 class="container__left__text__key">
        <span class="container__left__text__span">Depth (cm)</span>: &nbsp;
        {{ buildData.tank["Depth"] }}
      </h6>
      <app-button label="Go back" class="secondary__outlined"></app-button>
    </div>
  </div>

  <div class="container__right">
    <h3 class="container__right__heading">Fish in this tank</h3>
      <div class="container__right__cards">
        <app-update-card
        *ngFor="let fish of buildData.fish index as i"
        [fishImage]="fish.id.imagePath"
        [currentAmount]="fish.quantity"
        [userAmount]="matchedData[i].quantity"
        [fishname]="fish.id.name"
        [fishId]="fish.id._id"
      [category]="'utilities'"
      ></app-update-card>
      </div>
  </div>
</div>

<app-loader-component [isLoading]="isLoading"></app-loader-component>

