<div class="container">
  <div class="container__header">
    <h2>Create Fish Tank</h2>
  </div>

  <div class="container__builds">
    <app-prebuild-cards
      *ngFor="let build of prebuilds"
      [imagePath]="build['imagePath'].imagePath"
      [name]="build.name"
      [fish]="build.fish"
      [utilities]="build.utilities"
      [decorations]="build.decorations"
      [tank]="build.tank.Litres"
      [buildable]="build.complete"
      [id]="build._id"
    ></app-prebuild-cards>
  </div>
</div>
