<div class="container">
    <div class="container__left">
        <div class="container__left__image">
            <img src="../../../assets/puffer.png" class="container__left__image__img" alt="">
        </div>
        <div class="container__left__text">
            <h2 class="heading">Puffer Fish</h2>
            <h6 class="container__left__text__key"><span class="container__left__text__span">Diet</span>: Blood worm and
                live souls</h6>
            <h6 class="container__left__text__key"><span class="container__left__text__span">Required space</span>: This
                fish required atleast 30L of tank space</h6>
            <h6 class="container__left__text__key"><span class="container__left__text__span">Diet</span>: This fish
                needs an optimal temprature of 2 6degrees Celcius</h6>
        </div>
    </div>

    <div class="container__right">
        <div class="container__right__inner">
            <div class="container__right__inner__compatible">
                <h3 class="container__right__inner__compatible__heading">Fish is compatible with</h3>
                <ul class="container__right__inner__list">
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                </ul>
            </div>

            <div class="container__right__inner__noncompatible">
                <h3 class="container__right__inner__noncompatible__heading">Fish is not compatible with</h3>
                <ul class="container__right__inner__list">
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                </ul>
            </div>
        </div>



        <hr class="container__right__line">

        <div class="container__right__inner">
            <h3 class="container__right__inner__heading">Fish is compatible with</h3>
            <div class="container__right__inner__option"></div>
            <div class="container__right__inner__option"></div>
            <div class="container__right__inner__option"></div>
        </div>



    </div>