<div class="container">
    <div class="container__left">
        <div class="container__left__image">
            <img src="../../../assets/puffer.png" class="container__left__image__img" alt="">
        </div>
        <div class="container__left__text">
            <h2 class="heading">Puffer Fish</h2>
            <h6 class="container__left__text__key"><span class="container__left__text__span">Diet</span>: Blood worm and
                live souls</h6>
            <h6 class="container__left__text__key"><span class="container__left__text__span">Required space</span>: This
                fish required atleast 30L of tank space</h6>
            <h6 class="container__left__text__key"><span class="container__left__text__span">Diet</span>: This fish
                needs an optimal temprature of 2 6degrees Celcius</h6>
        </div>
    </div>

    <div class="container__right">
        <div class="container__right__inner">
            <div class="container__right__inner__compatible">
                <h3 class="container__right__inner__compatible__heading">Fish is compatible with</h3>
                <ul class="container__right__inner__list">
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                </ul>
            </div>

            <div class="container__right__inner__noncompatible">
                <h3 class="container__right__inner__noncompatible__heading">Fish is not compatible with</h3>
                <ul class="container__right__inner__list">
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                    <li class="container__right__inner__list__Item">Fish Name</li>
                </ul>
            </div>
        </div>



        <hr class="container__right__line">

        <div class="container__right__inner">
            <h3 class="container__right__inner__heading">My Inventory</h3>

            <div class="container__right__inner__option">
                <h5 class="container__right__inner__option__text">You have 12 Puffer fish over 12 Tanks</h5>
                <app-button class="secondary" label="View Tanks"></app-button>
            </div>

            <div class="container__right__inner__option">
                <h5 class="container__right__inner__option__text">You have 0 Beta currently in you inventory</h5>
                <app-button class="secondary" label="Update"></app-button>
            </div>

            <div class="container__right__inner__option">
                <h5 class="container__right__inner__option__text">You have 0 Beta currently in you inventory</h5>
                <app-button class="secondary" label="Update"></app-button>
            </div>

        </div>
        <hr class="container__right__line">

        <div class="container__right__inner2">
            <h3 class="container__right__inner2__heading">Locations</h3>

            <div class="container__right__inner2__grid">
                <app-similiar-locations-card></app-similiar-locations-card>
                <app-similiar-locations-card></app-similiar-locations-card>
                <app-similiar-locations-card></app-similiar-locations-card>
                <app-similiar-locations-card></app-similiar-locations-card>
            </div>

        </div>


    </div>